# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\research_workshop_new\算法\learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
